*{
	box-sizing: border-box;
}

body {
	background: url(../images/background_img.jpg);

}

.header {
	background:orange;
	color:white;
	font-size: 30px;
	float:left;
	width:300px;
	text-align: center;
	margin-left: 20px;
	padding:10px;


}

.instructions{
	clear:both;
	background: beige;
	color:green;
	margin-top: 20px;
	position:relative;
	top: 20px;
	max-width: 500px;
	height: 300px;
	left: 20px;
	font-style: bold;
	padding:10px;

}

.target {
	background: teal;
	height:100px;
	width:150px;
	color: purple;
	font-size: 30px;
	position: relative;
	top: 30px;
	left: 20px;
}
.counter {
	background: blue;
	height: 100px;
	width: 100px;
	position: relative;
	top: -69px;
	left: 200px;
}
.images {
	margin-left: 20px;
	position:relative;
	top: -50px;
}
.total {
	color:white;
	background: red;
	width: 200px;
	position: relative;
	top: -20px;
	margin-left: 20px;
}
.score {
	background: red;
	color:white;
	font-size: 30px;
	width: 200px;
	height: 100px;
	margin-left: 20px;
	
}
